body {
  font-family: Arial, sans-serif;
  background-color: #dddddd;
  color: rgba(0,0,0,1);
}
p {
  text-align: justify;
  text-indent: 50px;
}
a {
  color: #606060;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.interface {
  width: 900px;
  background-color: white;
  margin: -20px auto 0px auto;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.5); 
  padding: 10px;
}

.corpo {
  display: block;
  width: 500px;
  border-right: 1px solid #606060;
  padding-right: 15px; 
  float: left;
}
.noticia_principal h2 {
  font-size: 13pt;
  color: #606060;
  background-color: #dddddd;
  padding: 5px 0px 5px 0px;
  margin: 10px 0px 10px 0px;
  padding-left: 10px; 
}
